@charset "utf-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
form,
legend,
ul,
ol,
fieldset {
  margin: 0;
  padding: 0;
}
small,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
i,
em,
strong {
  font-size: 100%;
  font-weight: normal;
}
button,
input,
select,
textarea {
  margin: 0;
}
button,
input,
select {
  vertical-align: middle;
}
i,
em {
  font-style: normal;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: normal;
  text-align: left;
}
fieldset,
img {
  border: 0;
}
a,
button {
  cursor: pointer;
}
li {
  list-style: none;
}
button {
  text-align: center;
}
.dn {
  display: none;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.h14 {
  height: 14px;
}
.h16 {
  height: 16px;
}
.h18 {
  height: 18px;
}
.h20 {
  height: 20px;
}
.h22 {
  height: 22px;
}
.h24 {
  height: 24px;
}
.w10p {
  width: 10%;
}
.w15p {
  width: 15%;
}
.w20p {
  width: 20%;
}
.w25p {
  width: 25%;
}
.w30p {
  width: 30%;
}
.w33p {
  width: 33.3%;
}
.w40p {
  width: 40%;
}
.w50p {
  width: 50%;
}
.w60p {
  width: 60%;
}
.w66p {
  width: 66.6%;
}
.w70p {
  width: 70%;
}
.w75p {
  width: 75%;
}
.w80p {
  width: 80%;
}
.w90p {
  width: 90%;
}
.w100p {
  width: 100%;
}
.lh14 {
  line-height: 14px;
}
.lh16 {
  line-height: 16px;
}
.lh18 {
  line-height: 18px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh1d5 {
  line-height: 1.5;
}
.lh1d8 {
  line-height: 1.8;
}
.m0 {
  margin: 0;
}
.ml1 {
  margin-left: 1px;
}
.ml2 {
  margin-left: 2px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.mr1 {
  margin-right: 1px;
}
.mr2 {
  margin-right: 2px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb1 {
  margin-bottom: 1px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml-1 {
  margin-left: -1px;
}
.mr-1 {
  margin-right: -1px;
}
.mt-1 {
  margin-top: -1px;
}
.mb-1 {
  margin-bottom: -1px;
}
.ml-3 {
  margin-left: -3px;
}
.mr-3 {
  margin-right: -3px;
}
.mt-3 {
  margin-top: -3px;
}
.mb-3 {
  margin-bottom: -3px;
}
.ml-20 {
  margin-left: -20px;
}
.mr-20 {
  margin-right: -20px;
}
.mt-20 {
  margin-top: -20px;
}
.mb-20 {
  margin-bottom: -20px;
}
.p0 {
  padding: 0;
}
.p1 {
  padding: 1px;
}
.pl1 {
  padding-left: 1px;
}
.pt1 {
  padding-top: 1px;
}
.pr1 {
  padding-right: 1px;
}
.pb1 {
  padding-bottom: 1px;
}
.p2 {
  padding: 2px;
}
.pl2 {
  padding-left: 2px;
}
.pt2 {
  padding-top: 2px;
}
.pr2 {
  padding-right: 2px;
}
.pb2 {
  padding-bottom: 2px;
}
.pl5 {
  padding-left: 5px;
}
.p5 {
  padding: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.p10 {
  padding: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.p15 {
  padding: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.p20 {
  padding: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.p30 {
  padding: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pr30 {
  padding-right: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.t0 {
  top: 0;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.b0 {
  bottom: 0;
}
.bgwh {
  background-color: #fff;
}
.bgfb {
  background-color: #fbfbfb;
}
.bgf5 {
  background-color: #f5f5f5;
}
.bgf0 {
  background-color: #f0f0f0;
}
.bgeb {
  background-color: #ebebeb;
}
.bge0 {
  background-color: #e0e0e0;
}
.fs0 {
  font-size: 0;
}
.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs24 {
  font-size: 24px;
}
.fwn {
  font-weight: normal;
}
.fsn {
  font-style: normal;
}
.fwb {
  font-weight: bold;
}
.fsi {
  font-style: italic;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.taj {
  text-align: justify;
}
.ls-1 {
  letter-spacing: -1px;
}
.ls0 {
  letter-spacing: 0;
}
.ls1 {
  letter-spacing: 1px;
}
.wsn {
  white-space: nowrap;
}
.wwbw {
  word-wrap: break-word;
}
.vam {
  vertical-align: middle;
}
.vab {
  vertical-align: bottom;
}
.vat {
  vertical-align: top;
}
.va-2 {
  vertical-align: -2px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.zi1 {
  z-index: 1;
}
.zi2 {
  z-index: 2;
}
.cp {
  cursor: pointer;
}
.cd {
  cursor: default;
}
.oh {
  overflow: hidden;
}
.oa {
  overflow: auto;
}
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.z {
  *zoom: 1;
}
/* ------------------- multiply CSS ------------------ */
.auto {
  margin-left: auto;
  margin-right: auto;
}
.cell {
  display: table-cell;
  *display: inline-block;
  width: 2000px;
  *width: auto;
}
.cell_bk {
  display: table;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
.ell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.trans {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dib_vm {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.b0_on {
  border: 0;
  outline: none;
}
.pa_out {
  position: absolute;
  left: -999em;
  top: -999em;
}
.pa_clip {
  position: absolute;
  clip: rect(0 0 0 0);
}
.cf,
.inline,
.clearfix {
  *zoom: 1;
}
.cf:after,
.inline:after,
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.inline li,
.inline li a {
  float: left;
  *display: inline;
}
.noline li,
.noline li a {
  float: none;
  display: block;
}
.hide {
  display: none;
}
body,
button,
input,
textarea,
select {
  font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
body,
html {
  height: 100%;
  overflow: hidden;
}
body {
  position: relative;
  cursor: pointer;
}
img {
  max-width: 100%;
}
select,
input[type="text"],
input[type="password"],
textarea {
  -webkit-appearance: none;
}
select {
  background: #ffffff url(../img/i/arrow.png) 98% 50% no-repeat;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: #333;
}
.c-em {
  color: #333;
}
.c-small {
  color: #999;
}
.fs1d5 {
  font-size: 1.5em;
}
.pb1em {
  padding-bottom: 1em;
}
.pb2em {
  padding-bottom: 2em;
}
.pt1em {
  padding-top: 1em;
}
.pt2em {
  padding-top: 2em;
}
.mb1em {
  margin-bottom: 1em;
}
.mb2em {
  margin-bottom: 2em;
}
.mt1em {
  margin-top: 1em;
}
.mt2em {
  margin-top: 2em;
}
.dis {
  opacity: 0.5;
  pointer-events: none;
}
.bt {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  padding: 6px 1em;
  height: 34px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bt-block {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 1em;
}
.bt-big {
  padding-left: 3em;
  padding-right: 3em;
}
.bt + .bt {
  margin-left: 5px;
}
.bt-block + .bt-block {
  margin-left: 0;
  margin-top: 0.5em;
}
.bt-ghost {
  border: 1px solid #fff;
}
.bt-ghost:active {
  color: #999;
  border-color: #999;
}
.bt-default {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}
.bt-danger {
  border: 1px solid #ff6259;
  background-color: #ff6259;
}
.bt-primary {
  border: 1px solid #2e6da4;
  background-color: #337ab7;
}
.bt-success {
  border: 1px solid #4cae4c;
  background-color: #5cb85c;
}
input[type="text"],
button,
textarea,
select {
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
  background-color: #fff;
}
input[type="text"],
button,
select {
  height: 40px;
}
textarea {
  height: 6em;
}
.f-row {
  line-height: 34px;
}
.f-row + .f-row {
  margin-top: 1em;
}
.int-group {
  font-size: 0;
}
.int-group input,
.int-group button,
.int-group select {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-right: -1px;
}
.int-group .int-f {
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.int-group .int-l {
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.f-inline label {
  float: left;
  margin-right: 0.5em;
}
.captcha {
  font-size: 0;
}
.captcha input {
  width: 60%;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  margin-right: -1px;
}
.captcha button {
  width: 40%;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.wrap {
  padding: 0 4%;
}
#page {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.page-footer {
  padding-bottom: 5.5em;
}
.header {
  padding-top: 2em;
  margin-bottom: 1em;
}
.header-sub {
  margin: 2em 0;
}
.logo {
  text-align: right;
}
.logo img {
  vertical-align: top;
}
.menu {
  text-align: center;
}
.menu a {
  display: block;
  padding: 0.8em 1.2em;
  border: 1px solid #ccc;
  color: #999;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu a:active {
  background-color: #fbfbfb;
}
.menu strong {
  font-weight: bold;
}
.menu li {
  margin-bottom: 1em;
}
.footer {
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;
}
.copyright {
  height: 2em;
  line-height: 2em;
  color: #ccc;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tools {
  height: 3.2em;
  line-height: 3.2em;
  background-color: #ccc;
}
.fix-rb {
  position: absolute;
  right: 4%;
  bottom: 6em;
  z-index: 100;
}
.fix-rt {
  position: absolute;
  right: 4%;
  top: 30%;
  z-index: 100;
}
/*文章*/
.artical-hd {
  color: #333;
  line-height: 1.5;
  margin-bottom: 1em;
}
.artical-hd h2 {
  font-size: 1.8em;
}
.artical-bd {
  line-height: 1.8;
}
.artical-bd h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.artical-bd p {
  margin: 1em auto;
  max-width: 480px;
}
.j-pane {
  display: none;
}
.j-pane.on {
  display: block;
}
.card {
  margin-bottom: 2em;
}
.card .date-box {
  margin: 10px -2%;
}
.card-hd {
  font-size: 0;
}
.card-hd a {
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
  padding: 0.6em 2em;
  background: #e0e0e0;
  color: #fff;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.card-bd {
  padding: 4%;
  background-color: #eee;
  position: relative;
  margin-bottom: 30px;
}
.card-bd .i-del {
  position: absolute;
  right: -10px;
  top: -20px;
}
.fix-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 480px;
}
.placeholder {
  height: 80px;
}
.pro-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 3.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ccc;
  z-index: 101;
}
.pro-menu .bt {
  width: 47%;
  margin: 5px 1%;
}
.pro-menu.on {
  visibility: visible;
  opacity: 1;
}
.intro-nav {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  text-align: center;
}
.intro-nav a {
  display: inline-block;
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0.5em;
  color: #333;
  margin-left: -1px;
}
.intro-nav a:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  margin-left: 0;
}
.intro-nav a:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.intro-nav a.on {
  background-color: #e6e6e6;
}
.swiper-container {
  height: 276px;
}
.swiper-container img {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}
.swiper-pagination {
  position: static;
  padding-top: 5px;
}
.swiper-pagination img {
  height: 30px;
  width: auto;
}
.swiper-pagination-bullet {
  width: auto;
  height: 30px;
  border-radius: 0;
  margin-right: 5px;
}
/*弹出框*/
.modal {
  z-index: 105;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}
.modal.on {
  visibility: visible;
  opacity: 1;
}
.modal.on .modal-mn {
  top: 5%;
}
.modal-mn {
  border: 1px solid #666;
  position: absolute;
  left: 4%;
  right: 4%;
  width: 92%;
  top: 0;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.modal-hd {
  padding: 1em 4%;
  font-size: 18px;
}
.modal-bd {
  padding: 0 4% 4%;
}
.modal-ft {
  padding: 1em 4%;
  border-top: 1px solid #ddd;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  color: #666;
}
i,
.i {
  display: inline-block;
  text-align: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 100%;
}
.i-search {
  height: 20px;
  width: 20px;
  background-image: url('../img/i/search.png');
}
.i-map {
  height: 27px;
  width: 18px;
  background-image: url('../img/i/map.png');
}
.i-bread {
  height: 22px;
  width: 22px;
  background-image: url('../img/i/bread.png');
}
.i-bread.on {
  background-image: url('../img/i/bread-on.png');
}
.i-tag {
  height: 24px;
  width: 20px;
  background-image: url('../img/i/tag.png');
}
.i-arrow-d {
  height: 10px;
  width: 18px;
  background-image: url('../img/i/arrow-d.png');
}
.i-plus,
.i-del {
  height: 38px;
  width: 38px;
  line-height: 35px;
  color: #000;
  font-size: 24px;
  text-align: center;
  background-color: #ccc;
  border-radius: 50%;
}
.i-plus:after {
  content: '+';
}
.i-del:after {
  content: '-';
}
.i-times {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  color: #333;
  font-weight: bold;
}
.i-times:after {
  content: "×";
}
.i-cart {
  height: 54px;
  width: 54px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-image: url('../img/i/cart.png');
}
.i-chat {
  height: 54px;
  width: 54px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-image: url('../img/i/chat.png');
}
.i-date-l,
.i-date-r {
  height: 26px;
  width: 26px;
}
.i-date-l {
  background-image: url('../img/i-date/left.png');
}
.i-date-r {
  background-image: url('../img/i-date/right.png');
}
.date-box {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
}
.date-box table {
  width: 100%;
  color: #333;
}
.date-box th,
.date-box td {
  padding: 5px 3px;
  text-align: center;
}
.date-box td.on {
  background-color: #000;
  color: #fff;
}
.date-box td span {
  display: block;
  margin-top: 1em;
  text-align: left;
}
.date-box tbody {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.date-box td {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.date-box td span {
  font-size: 12px;
  line-height: 1;
  color: #999;
}
.date-box td .s_em {
  color: #f00;
}
.date-box .i-date-l,
.date-box .i-date-r {
  position: absolute;
  top: 50%;
  margin-top: -13px;
}
.date-box .i-date-l {
  left: 0;
}
.date-box .i-date-r {
  right: 0;
}
.date-box .s_hd {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin: 0 2%;
}
.date-box .s_hd select {
  height: 28px;
  padding-top: 0;
  padding-bottom: 0;
}
.date-box .s_hd .s_year {
  width: 5em;
}
.date-box .s_hd .s_month {
  width: 4em;
}
.date-box .s_bd {
  padding: 0 2% 10px;
}
.date-box .s_ft {
  text-align: right;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
  padding: 10px 2%;
}
