@charset "utf-8";
@import "../../../27less/_27.style.less";

.date-box {
	position:relative; background-color: #fff; border:1px solid #ddd;
	table{ width: 100%; color: #333; }
	th,td{ padding: 5px 3px; text-align: center; }
	td.on{ background-color: #000;
		&, span{ color: #fff;  }
	}
	td span{ display:block; margin-top: 1em; text-align: left; max-width: 3em; }
	td.s_dis span { color: #f00; }
	tbody{ border-top: 1px solid #ddd; border-right: 1px solid #ddd; }
	td{ border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; vertical-align: top; }
	td span{ font-size: 12px; line-height: 1; color: #999; } 
	td .s_em{ color: #f00; }
	.s_prev, .s_next{ position: absolute; top: 50%; margin-top: -13px; #hW(26px); overflow: hidden; line-height: 200px;}
	.s_prev{ left: 0; background-image: url('../img/i-date/left.png'); }
	.s_next{ right: 0; background-image: url('../img/i-date/right.png'); }	
	.s_hd {
		padding: 10px 0; border-bottom: 1px solid #ddd; margin: 0 2%; text-align: center; 
		position:relative;
		select{ height: 28px; padding-top: 0; padding-bottom: 0; margin: 0 10px; }
		.s_year{ width: 5em; }
		.s_month{ width: 4em; }
	}
	.s_bd{ padding: 0 2% 10px;}

	.s_ft{
		text-align: right;
		border-top: 1px solid #ddd; background-color: #f5f5f5;
		padding: 10px 2%;
	}
	.s_sure{ }
	+ .f-row{ margin-top: 1em; }
}